{{!-- <a class="postPad postTitle" href="/user/{{id}}" target="_blank">{{title}}</a> --}}
<div class="interPostContainer">
<article class="postPad">
  <img class="userImg"src="{{user_img_url}}">
  <span>{{username}}</span>
  <div class="row alignTextRight stayBetween">
    <a class="alignTextRight"> {{motto}}</a>
    {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
  </div>

