<section class="col-3 hideOnSmall">
  <div class="col userDashdivbacks ">
    <div class="">
    <img class="post-stayBetween" src="{{user.user_img_url}}"></img>
    </div>
    <div class="dashboardMarginex">
    <div class="dashboardUsernameText">
      {{user.username}}
    </div>
    <div class="userdashboardmotto">{{user.motto}}</div>
    <div class="userdashboarditemsconatiner">
    <div class="userdashboarditems">{{user.hometown}} <i class="fas fa-map-marker-alt"></i></div>
    <div class="userdashboarditems">{{user.education}} <i class="fas fa-graduation-cap"></i></div>
    <div class="userdashboarditems">{{user.employment}} <i class="fas fa-briefcase"></i></div>
    <div class="userdashboarditems">{{user.relationship_status}} <i class="fas fa-heart"></i></div>
    </div>
    <div class="hobbiesTilte">Hobbies:</div>
    <div class="hobbies">{{user.hobbies}}</div>
    </div>
    <div>
      <a href="/dashboard/edit/user/{{user.id}}"class="edit-link">Edit Profile</a>
    </div>
  </div>
</section>

<section class="col ">
  <section class="userDashdivbacks roundcorners post-pad">
    <h2 class="post-marginRig">Create New Post</h2>
{{!-- <form class="">
      <div class="marginRig">
        <textarea class="stayBetween" name="comment-body"></textarea>
      </div>

      <div class="row commentSubmitBut stayBetween">
        <button type="submit"class="buttonpost w-auto">ADD COMMENT</button>
      </div>
    </form> --}}
    <form class="new-post-form comment-form ">
      <div class="post-marginRig">
        <textarea placeholder="  Title" style="padding: 10px;" class="post-stayBetween dashboardInputTitlearea" type="text" id="post-title" name="post-title"></textarea>
      </div>
      <div class="post-marginRig">
        <textarea rows="4" style="padding: 10px;" placeholder="  My Adventure Story"class="post-stayBetween dashboardInputtextarea" id="post-url" name="post-url"></textarea>
      </div>
      <div class="row post-post-commentsubmitbut post-stayBetween">
      <button type="submit" class="btn post-button w-auto dashboardMarginex">Post New Adventure</button>
      </div>
    </form>
  </section>

  {{#if posts.length}}
  <section class="userDashdivbacks roundcorners post-pad">
    <h2 class="post-marginRig dashboardMarginex">Your Posts</h2>
    <ul class="post-listStyle post-pad">
      {{#each posts as |post|}}
      <li class="dashboardMarginex">
        {{> post-info post}}
        <a href="/dashboard/edit/post/{{post.id}}" class="edit-link">Edit post</a>
        </article>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  </section>
  {{!-- Ad --}}
  {{!-- <section class="col-2" style=""> --}}
    {{!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7599803532854496"
     crossorigin="anonymous"></script>
    <!-- banners -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7599803532854496"
        data-ad-slot="7847563915"
        data-ad-format="auto"
        data-full-width-responsive="true"
        data-adtest="on";></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script> --}}
  {{!-- </section> --}}

<script src="/javascript/add-post.js"></script>